
@import '~antd/dist/antd.css';
body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,'segoe ui','Roboto','helvetica neue','Arial','noto sans','sans-serif','apple color emoji','segoe ui emoji','segoe ui symbol','noto color emoji';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
